* {
    font-family: monospace;
}

html {
  height: 100%;
}

body {
  margin:0;
  width:100%;
  height:100%;
  font-size:18px;
}

main {
  display:table;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.area-input {
  display: table-cell;
  width: 50%;
  background: black;
  height:100%;
}

.area-input > textarea {
  resize: none;
  width:100%;
  height:100%;
  font-size:18px;
}

.area-preview {
  position: relative;
  display: table-cell;
  vertical-align: top;
  background: red;
  width: 50%;
  height:100%;
}

.area-preview > iframe {
  width:100%;
  height: 100%;
  border:none;
}

.markdown {
  white-space: pre
}
